.main-our-team {
	padding: 10rem 0;
	background: #EBECF1;
	text-align: center;
}

.main-our-team .row {
	margin-top: 90px;
}

.main-our-team .box {
	padding: 0 20px;
	text-align: center;
}

.main-our-team .box-photo img {
	border-radius: 50%;
}

.main-our-team .box-photo-overlay {
	border-radius: 50%;
}