.main-track .track{
    height: 700px;
    background:url("../images/ring.jpg");
    overflow: hidden;
}

.track-info span{
    font-size: 30px;
    color: #20fffc;
    font-weight: normal;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-info p {
    margin: 15px;
    padding: 5px;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}