.main-contact {
    padding: 10rem 0;
}
.main-contact-text {
    margin-bottom: 7rem;
    color:#888;
}
.main-contact label {
    @include visuallyhidden();
}

@media (max-width: 760px) {
    .main-contact-text {
        text-align: center;
    }
}