.main-footer {
	background: #1D2122;
	padding: 40px 0;
}

.main-footer .container {
	display: flex;
}

.main-footer-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-footer-list li {
	padding-bottom: 10px;
}
.main-footer-list li:last-of-type {
	padding-bottom: 0;
}

.main-footer-list a {
	color: rgba(#fff, 1);
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none;
	font-weight: 500;
	display: inline-block;
	padding: 0 15px;
	transition: 0.4s all;
	position: relative;
}

.main-footer-list a:hover {
	color: $color-main;
}

.main-footer .copyright {
	margin-left: auto;
	color: #777;
}
.main-footer-list li {}
.main-footer-list a {
	padding:15px 20px;
	display: block;
	font-size:15px;
	font-weight:bold;
	color: rgba(white, 0.4);
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	position: relative;
}
.main-footer-list a::after {
	content: "";
	position: absolute;
	bottom:0;
	height:2px;
	background: $color-main;
	left:0;
	right:0;
	transform: scaleX(0);
	transition: 0.5s;
}
.main-footer-list a:hover {
	color: $color-main;
}
.main-footer-list a:hover::after {
	transform: scaleX(1);
}


@media (max-width: 550px) {
	.main-footer .container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.main-footer-list {
		text-align: center;
	}
	.main-footer .copyright {
		margin-top: 30px;
		margin-left: 0;
	}
}